<div class="container">
  <div class="row filter-section">
    <div class="col-xs-12">
      <div class="form-group">
        <span class="filter-select">Filter By</span>
        <div class="btn-group">
          <select [(ngModel)]="searchFilter" class="form-control filter-select">
            <option
              *ngFor="let filter of filterColumns"
              [value]="filter.actualName"
              >{{ filter.displayName }}</option
            >
          </select>
          <input
            class="form-control"
            type="text"
            autocomplete="off"
            [(ngModel)]="searchValue"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="data-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let col of columns">
                <span
                  [ngClass]="isSortableColumn(col) ? 'sortColumn' : null"
                  (click)="isSortableColumn(col) ? sort(col, null) : null"
                  >{{ col }}
                  <i
                    *ngIf="sortColumn.name === col"
                    [ngClass]="
                      sortColumn.direction === 'asc'
                        ? 'fa fa-chevron-up'
                        : 'fa fa-chevron-down'
                    "
                  ></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let char of data.results
                  | tableFilterPipe: searchFilter:searchValue
              "
            >
              <td *ngFor="let col of columns">
                {{
                  col === "severity"
                    ? char["country_check_severity"]
                    : char[col]
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
