.data-table {
    height: 500px;
    width: 1200px;
    overflow-y: scroll;
}
.filter-select {
    margin-right: 10px;
    width: 100px;
}
.filter-section {
    padding-top: 20px;
}
.viewport {
    height: 500px;
}
.sortColumn {
    cursor: pointer;
}